Website/Portals/_default/Logs/LogConfig/LogConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="EmailNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MailToEmailAddress"/>
			</xs:sequence>
			<xs:attribute name="Status" type="xs:string" use="required"/>
			<xs:attribute name="Threshold" type="xs:short" use="required"/>
			<xs:attribute name="ThresholdTime" type="xs:boolean" use="required"/>
			<xs:attribute name="ThresholdTimeType" type="xs:string" use="required"/>
			<xs:attribute name="MailFromAddress" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DefaultLog.xml.resources"/>
				<xs:enumeration value="GeneralException.xml.resources"/>
				<xs:enumeration value="LogNotificationFailure.xml.resources"/>
				<xs:enumeration value="ModuleLoadException.xml.resources"/>
				<xs:enumeration value="PageLoadException.xml.resources"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LogConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogTypeConfig" maxOccurs="unbounded" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogTypeConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileName"/>
				<xs:element ref="EmailNotification" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="LogTypeName" type="xs:string" use="required"/>
			<xs:attribute name="LogTypePortalID" type="xs:string" use="required"/>
			<xs:attribute name="KeepMostRecent" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MailToEmailAddress" type="xs:string"/>
</xs:schema>
